language: php

addons:
    chrome: stable

sudo: false

php:
    - "7.1"
    - "7.2"
    - "7.3"
    - "7.4"
    - "nightly"
env:
    global:
        - COMPOSER_MEMORY_LIMIT=-1

matrix:
    allow_failures:
        - php: nightly
    fast_finish: true
    include:
        - php: 7.1
          env: COMPOSER_FLAGS="--prefer-lowest"
        - php: 7.2
        - php: 7.3
        - php: 7.3
          env: SYMFONY_REQUIRE="3.4.*"
        - php: 7.3
          env: SYMFONY_REQUIRE="4.3.*"
        - php: 7.3
          env: SYMFONY_REQUIRE="4.4.*"
        - php: 7.4
          env: SYMFONY_REQUIRE="5.*"

cache:
    directories:
        - $HOME/.composer/cache

services: postgresql

before_install:
    - psql -c 'CREATE DATABASE pomm_test' -U postgres -h 127.0.0.1 postgres
    - psql -c 'CREATE TABLE config (name character varying(25) PRIMARY KEY, value character varying(25))' -U postgres -h 127.0.0.1 pomm_test
    - psql -c "INSERT INTO config VALUES ('test', 'value')" -U postgres -h 127.0.0.1 pomm_test
    - psql -c 'CREATE DATABASE pomm_test_2' -U postgres -h 127.0.0.1 postgres
    - psql -c 'CREATE TABLE config (name character varying(25) PRIMARY KEY, value character varying(25))' -U postgres -h 127.0.0.1 pomm_test_2
    - psql -c "INSERT INTO config VALUES ('test', 'value_db2')" -U postgres -h 127.0.0.1 pomm_test_2

    - php -S localhost:8080 -t tests/web &> /dev/null &
    - ln -fs parameters.yml.dist tests/app/config/parameters.yml
    - composer global require --no-progress --no-scripts --no-plugins symfony/flex dev-master
    - cd tests/
    - composer global require --no-progress --no-scripts --no-plugins symfony/flex dev-master
    - cd ..

install:
    - phpenv config-add travis.php.ini
    - composer update -n --prefer-dist --prefer-stable
    - cd tests/
    - composer update -n --prefer-dist --prefer-stable
    - rm -rf vendor/pomm-project/pomm-bundle
    - ln -s ../../../ vendor/pomm-project/pomm-bundle

before_script:
    - CHROME_MAIN_VERSION=`google-chrome-stable --version | sed -E 's/(^Google Chrome |\.[0-9]+ )//g'`
    - CHROMEDRIVER_VERSION=`curl -s "https://chromedriver.storage.googleapis.com/LATEST_RELEASE_$CHROME_MAIN_VERSION"`
    - curl "https://chromedriver.storage.googleapis.com/${CHROMEDRIVER_VERSION}/chromedriver_linux64.zip" -O
    - unzip chromedriver_linux64.zip -d ~/bin

    - wget "https://selenium-release.storage.googleapis.com/3.141/selenium-server-standalone-3.141.59.jar" -O selenium.jar
    - java -jar selenium.jar &> /dev/null &


script:
    - ../vendor/bin/phpcs --standard=psr2 --runtime-set ignore_warnings_on_exit true --report=summary ../sources
    - ./app/console pomm:generate:schema-all -d 'src/'  -a 'AppBundle\Model' my_db1
    - ./bin/behat --tags "~@upper${CURRENT_SYMFONY_VERSION}lts"
    - ./app/console pomm:generate:schema-all default_session_builder
