language: php

sudo: false

php:
    - "7.1"
    - "7.2"
    - "7.3"
    - "7.4"
    - "nightly"

env:
    matrix:
        - SYMFONY_VERSION=3
        - SYMFONY_VERSION=4
        - SYMFONY_VERSION=5

matrix:
    allow_failures:
        - php: nightly
    fast_finish: true

cache:
    directories:
        - $HOME/.composer/cache

services: postgresql

before_install:
    - psql -c 'CREATE DATABASE pomm_test' -U postgres -h 127.0.0.1 postgres
    - psql -c 'CREATE TABLE config (name character varying(25) PRIMARY KEY, value character varying(25))' -U postgres -h 127.0.0.1 pomm_test
    - psql -c "INSERT INTO config VALUES ('test', 'value')" -U postgres -h 127.0.0.1 pomm_test
    - psql -c 'CREATE DATABASE pomm_test_2' -U postgres -h 127.0.0.1 postgres
    - psql -c 'CREATE TABLE config (name character varying(25) PRIMARY KEY, value character varying(25))' -U postgres -h 127.0.0.1 pomm_test_2
    - psql -c "INSERT INTO config VALUES ('test', 'value_db2')" -U postgres -h 127.0.0.1 pomm_test_2

    - php -S localhost:8080 -t tests/web &> /dev/null &
    - ln -fs parameters.yml.dist tests/app/config/parameters.yml
    - test "$SYMFONY_VERSION" -eq 5 || composer require --no-update "symfony/lts:^$SYMFONY_VERSION"
    - cd tests/
    - test "$SYMFONY_VERSION" -eq 5 || composer require --no-update "symfony/lts:^$SYMFONY_VERSION"
    - cd ..

install:
    - echo 'memory_limit=-1' > travis.php.ini
    - phpenv config-add travis.php.ini

    - composer update

    - cd tests/
    - composer update
    - rm -rf vendor/pomm-project/pomm-bundle
    - ln -s ../../../ vendor/pomm-project/pomm-bundle

before_script:
    - |
      export CURRENT_SYMFONY_VERSION=$(                                       \
          composer show --format=json                                         \
          | jq '.installed[] | select(.name == "symfony/symfony") | .version' \
          | sed 's/^"v\([0-9]\+\)\.[^"]*"/\1/'                                \
      )
    - echo $CURRENT_SYMFONY_VERSION

    - LATEST_CHROMEDRIVER_VERSION=`curl http://chromedriver.storage.googleapis.com/LATEST_RELEASE`
    - wget --no-verbose https://chromedriver.storage.googleapis.com/$LATEST_CHROMEDRIVER_VERSION/chromedriver_linux64.zip
    - unzip chromedriver_linux64.zip -d ~/bin

    - wget "https://selenium-release.storage.googleapis.com/3.141.59/selenium-server-standalone-3.141.59.jar" -O selenium.jar
    - java -jar selenium.jar &> /dev/null &


script:
    - ../vendor/bin/phpcs --standard=psr2 --runtime-set ignore_warnings_on_exit true --report=summary ../sources
    - ./app/console pomm:generate:schema-all -d 'src/'  -a 'AppBundle\Model' my_db1
    - ./bin/behat --tags "~@upper${CURRENT_SYMFONY_VERSION}lts"
    - ./app/console pomm:generate:schema-all default_session_builder
