default:
    suites:
        default:
            paths: [ "%paths.base%/tests/Features" ]
            contexts:
                - FeatureContext
                - behatch:context:json
    extensions:
        Behat\MinkExtension:
            base_url: 'http://localhost:8080'
            browser_name: chrome
            sessions:
                default:
                    selenium2:
                        wd_host: "http://localhost:4444/wd/hub"
                        browser: chrome
                        capabilities:
                            extra_capabilities:
                                chromeOptions:
                                    args:
                                        - "--headless"
                                        - "--disable-gpu"
                                        - "--no-sandbox"
        Behatch\Extension: ~
